
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
}

.header {
    background-image: linear-gradient(
        to right bottom, 
        rgba(249, 237, 105, 0.7), 
        rgba(184, 59, 95, 0.7),
        rgba(106, 44, 112, 0.7)),
        url("Splash.jpg");
    background-size: cover;
    background-position: top;
    height: 100vh;
}

.heading-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 8px;
    backface-visibility: hidden;

}

.heading-first {
    display: inline-block;

    animation: dropIn .8s linear;
}

.heading-second {
    display: inline-block;

    animation: rotates .8s linear 1s backwards;
}

.heading-third {
    display: inline-block;
    animation: adjusts 1.4s linear 2s backwards;
}

.heading-btn:link,
.heading-btn:visited {
    display: inline-block;
    margin: 40px;
    padding: 20px;
    background-color: #FFF;
    border-radius: 100px;
    text-decoration: none;
    color: #000;
    transition: all .2s;
    position: relative;
}

.heading-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgb(0,0,0,0.2);
}

.heading-btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgb(0,0,0,0.2);
}

.btn-animated {
    animation: moveInBottom 1s ease-out 3.5s backwards;
}

/* Animation */

@keyframes dropIn {
    0% {
        opacity: 0;
        transform: translate(-200px, -200px);
    }

    10% {
        transform: translate(-100px, -140px);
    }

    30% {
        transform: translate(0px, -80px);
    }

    45% {
        transform: translate(75px, 0px);
    }

    60% {
        transform: translate(50px, 45px);
    }

    85% {
        transform: translate(10px, 20px);
        transform: scale(2);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }

}

@keyframes rotates {
    0% {
        opacity: 0;
        transform: rotate(359deg);
    }

    100% {
        opacity: 1;
    }
}

@keyframes adjusts {
    0% {
        opacity: 0;
        transform: translate(-10px, 10px);
    }   

    25%{
        transform: translate(10px, 0px);
    }

    50% {
        transform: translate(0px, 10px);

    }

    75%{
        transform: translate(-10px, 0px);

    }

    100%{
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}